.details-container{
  margin-bottom: 2rem;
}

.details-container .join-details{
  position: relative;
  padding-bottom: 0.5rem;
}
.details-container .log-in-details{
  display: none;
  position: relative;
  padding-bottom: 0.5rem;
}

.details-container .logo{
  display: none;
} 

.details-container .heading{
  font-size: clamp(1.5625rem, 5vw, 3.4375rem) ;
  color: var(--primary-color);
  font-weight: bolder;
  margin-bottom: 0.8rem;;
}

.details-container .detail{
  font-size: clamp(1rem, 2vw, 1.87rem);
  text-align: justify;
  margin-bottom: 2.5rem;
  line-height: 1.5em;
}

.details-container button{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1.125rem, 1.5vw, 1.75rem);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 8rem;
  background-color: var(--accent-color);
  color: var(--neutral-color);
  padding: 0.5rem 0;
}
/* .details-container .log-in-details{
  display: none;
} */

.display-container .join-details{
  margin-bottom: 10rem;
}
