:root{
  --primary-color: #434343;
  --neutral-color: #FFFFFF;
  --accent-color: #2FC375;

  --F-size: 25px;
  --F-size: 20px;
  --F-size: 14px;
  --F-size: 16px;
  --F-size: 18px;
  --F-size: 14px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
 width: 100%;
}

button{
  cursor: pointer;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  background-color: var(--neutral-color);
  font-family: "Poppins", sans-serif;
}

.main-wrapper{
  --wrapper-max-width: 1250px;
  --wrapper-padding: 8%;

  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
  margin-inline: auto;
}