header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0.5rem 5% 0.3rem 3%;
  background-color: var(--accent-color);
}

header .logo{
  display: flex;
  align-items: center;
}

header .logo .logo-icon{
  width: 50px;
  margin-right: 0.5rem;
}

header .logo .logo-txt{
  font-size: 1.5625rem;
  font-weight: 600;
  color: var(--neutral-color);
}

header .top-nav ul {
  display: none;
  font-size: 1.125px;
}

header .show-topnav-btn{
  color: var(--neutral-color);
  font-size: 2rem;
}