:root{
  --primary-color: #4E4D4D;
  --neutral-color: #FFFFFF;
  --accent-color-one: #2FC375;
  --accent-color-two: #C32F2F;

  --base-small-Fsize: 14px;
  --base-medium-Fsize: 20px;
  --base-large-Fsize: 30px;

  --F-size: 25px;
  --F-sise: 30px;
  --F-size: 20px;
  --F-size: 14px;
  --F-size: 16px;
  --F-size: 18px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
 width: 100%;
}

button{
  cursor: pointer;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: var(--neutral-color);
}