header{
  position: sticky;
  top: 0;
  display: flex;
  gap: 1.5rem;
  padding: 0.8rem 8rem 0.8rem 3rem;
  align-items: center;
  background-color: var(--accent-color-one);
  margin-bottom: 0.1rem;
}

header .hamburger-icon{
  width: 2rem;
}

header .logo{
  margin-right: auto;
  display: flex;
}

header .logo .logo-icon{
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--accent-color-two);
  margin-right: 0.7rem;
}

header .logo .logo-txt{
  color: var(--neutral-color);
  margin-right: auto;
  font-size: calc(var(--base-small-Fsize) + 4px);
  font-weight: 600;
}

header .icon{
  position: relative;
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

header .icon:last-child{
  border-radius: 50%;
}

header .icon .number-label{
  position: absolute;
  right: -5px;
  color: var(--accent-color-two);
  font-size: var(--base-small-Fsize);
}