:root{
  --primary-color: #434343;
  --neutral-color: #FFFFFF;
  --accent-color-one: #2FC375;
  --accent-color-two: #C32F2F;

  --F-size: 25px;
  --F-size: 20px;
  --F-size: 14px;
  --F-size: 16px;
  --F-size: 18px;
  --F-size: 14px;

}